!!!
%html
  %head
    %title ClueyPhonegapTest

    %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/style.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/bootstrap.min.css"}

    %script{:src => "javascripts/plugins/jquery-1.8.3.min.js"}
    %script{:src => "javascripts/plugins/handlebars-1.0.0.rc.2.js"}
    %script{:src => "javascripts/plugins/ember.js"}
    %script{:src => "javascripts/plugins/ember-data.js"}

    %script{:src => "javascripts/application.js"}
    %script{:src => "javascripts/phonegap_functions.js"}
    %script{:src => "javascripts/plugins/fastclick.js"}
    %script{:src => "cordova.js"}

  %body.container-fluid{:onload => "appInit();"}
    .row-fluid.h5

    .row-fluid.h25
      #text_scroller.h100.span12.scrollable
        %h1
          Welcome
        %h1
          To
        %h1
          Cluey
        %h1
          Point
        %h1
          Of
        %h1
          Sale!
        %h1
          Welcome
        %h1
          To
        %h1
          Cluey
        %h1
          Point
        %h1
          Of
        %h1
          Sale!
        %h1
          Welcome
        %h1
          To
        %h1
          Cluey
        %h1
          Point
        %h1
          Of
        %h1
          Sale!

    .row-fluid.h5

    .row-fluid.h20
      #val.span12.h100
        Enter Table Number

    .row-fluid.h5

    #buttons.h40
      .row-fluid.h5

      .row-fluid.h20
        .button.span4.h100
          7
        .button.span4.h100
          8
        .button.span4.h100
          9
      .row-fluid.h5

      .row-fluid.h20
        .button.span4.h100
          4
        .button.span4.h100
          5
        .button.span4.h100
          6
      .row-fluid.h5

      .row-fluid.h20
        .button.span4.h100
          1
        .button.span4.h100
          2
        .button.span4.h100
          3
      .row-fluid.h5

      .row-fluid.h20
        .button.span4.h100
          0
        .button.span4.h100
          \.
        .button.span4.h100
          C